<mat-card *ngIf="book">
    <mat-card-header>
      <mat-card-title>
        <h2>
          <a [routerLink]="[book.id]">
            {{ book.title }}
          </a>
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>{{ book.author }}</h3>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>${{ book.price }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goEdit()">Edit</button>
      <button mat-raised-button color="warn" (click)="deleteBook()">Delete</button>
    </mat-card-actions>
  </mat-card>