#statusBox{
    color:white;
    padding:20px;
    border-radius:10px;
    margin-top:5px;
    height:100px; /* Add responsiveness */
    font-size:150%;
    display:flex;
    flex-wrap:wrap;
}
p{
    float:left;
    flex:7;
}
button{
    background-color: black;
    flex:1;
    margin-bottom:20px;
    border-radius:10px;
}